:root {
    --gold-light: #d5aa6d;
    --gold-dark: #c59d64;
    --black-special: #0b0505;
    --gray-special: #191514;
    --black-special-alfa: rgba(11, 5, 5, 0.75);
    --gray-special-alfa: rgba(25, 21, 20, 0.75);
}

.btn-gold-light {
    background-color: var(--gold-light);
}

.btn-gold-dark {
    background-color: var(--gold-dark);
}

.bg-black-special {
    background-color: var(--black-special);
}

.bg-gray-special {
    background-color: var(--gray-special);
}

.bg-black-special-blur {
    background-color: var(--black-special-alfa);
    backdrop-filter: blur(10px);
}

.bg-gray-special-blur {
    background-color: var(--gray-special-alfa);
    backdrop-filter: blur(10px);
}

.text-gold-light {
    color: var(--gold-light);
}

.text-gold-dark {
    color: var(--gold-dark);
}

.border-bottom-gold-light {
    border-bottom: solid 1px var(--gold-light);
}

.border-bottom-gold-dark {
    border-bottom: solid 1px var(--gold-dark);
}

.bg-img-header {
    background-image: url("../images/fondos/fondo-encabezado.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hr-header {
    height: 5px;
    background-color: var(--black-special);
}

.mvh-100 {
    min-height: 100vh;
}

.nav-item-bg-gold-hover:hover {
    background-color: var(--gold-dark);
}

.nav-item-bg-white-hover:hover {
    background-color: white;
    color: var(--gold-light);
}

.btn-gold-light:focus {
    box-shadow: none;
}

.btn-gold-dark:focus {
    box-shadow: none;
}

input[type="checkbox"]:checked {
    accent-color: var(--gold-light);
}

input[type="text"]:focus {
    box-shadow: none;
    border: solid 2px var(--gold-light);
}

input[type="email"]:focus {
    box-shadow: none;
    border: solid 2px var(--gold-light);
}

input[type="password"]:focus {
    box-shadow: none;
    border: solid 2px var(--gold-light);
}

/* *Esto son los estilo de la parte de inicio*/



/* Se utilo para cdejar un espacio entre la imagen y el sig textto*/
.espacio_padding {
    padding: 7% 0;
}

.espacio_padding2{
    padding: 10px 0;
}

/*
El elementos h3 dentro de un contenedor con la clase custom_heading-container de la siguiente manera:
    Transforma el texto a mayúsculas.
    Usa posicionamiento relativo para el elemento.
*/
.custom_heading-container h3 {
    text-transform: uppercase;
    position: relative;
}

/*
    *Se añade una barra --gold-dark horizontal con bordes redondeados debajo de los elementos h3 dentro de un contenedor
    *Barra decorativa: Se añade una barra roja con bordes redondeados debajo de los h3, centrada horizontalmente.
*/
.custom_heading-container h3::before {
    content: " ";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 50px;
    height: 7px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color:var(--gold-dark);
    border-radius: 15px;
}

.letra{
    font-size: 20px;
    text-align: justify-center;
}


